.taskbar {
    background-color: var(--acento);
    border-top: 2px solid var(--acento-1);
    border-bottom: 2px solid var(--acento2);
    width: 100vw;
    height: 35px;
    display: flex;
    align-items: center;
    padding: 0 0px;
    box-sizing: border-box;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
}
.taskbar-left, .taskbar-right {
    display: flex;
    align-items: center;
    margin: 0;
}
.taskbar-left {
    margin-right: 0;
}
.taskbar-right {
    margin-left: 0;
}
.taskbar-buttons {
    font-family: 'uwuntu', sans-serif;
    font-size: 15px;
    background-color: var(--color-fondo);
    color: var(--acento);
    border-top: 2px solid var(--acento-1);
    border-left: 2px solid var(--acento-1);
    border-bottom: 2px solid var(--acento2);
    border-right: 2px solid var(--acento2);
    padding: 8px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    line-height: 1;
    gap: 10px;
    box-sizing: border-box;
    top: 0;
    z-index: 1000;
}
.taskbar-buttons:hover {
    background-color: var(--color-fondo-hover);
    color: var(--acento-1);
    border: 2px solid var(--acento-1);
}
.interior-ventana {
    min-height: 100%;
    height: fit-content;
    margin-top: -60px;
    padding-bottom: 30px;
    background-color: var(--acento);    
}
.imagen {
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);*/
    
    border-top: 2px solid var(--acento-1);
    border-left: 2px solid var(--acento-1);
    border-bottom: 2px solid var(--acento2);
    border-right: 2px solid var(--acento2);
}
.info-texto {
    font-family: 'uwuntu', sans-serif;
    font-size: 15px;
    color: var(--color-fondo2);
    text-align: justify;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 7%;
    padding-right: 9%;
}
.info-texto-titulo {
    font-family: 'punk', sans-serif;
    color: var(--color-fondo2);
    font-size: 50px;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--acento2);
}
.info-texto-subtitulo {
    font-family: 'uwuntu', sans-serif;
    font-size: 20px;
    color: var(--color-fondo2);
    text-align: justify;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 5%;
    padding-right: 50px;
}
.simbolo-fa {
    font-size: 21px;
}
.elementos-indice {
    text-align: left;
    font-family: 'uwuntu', sans-serif;
}

.music-player {
    margin-top: -60px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--acento);
    overflow: hidden;
}
.mp-playlist {
    border: 2px solid var(--acento2);
    flex: 1;
    overflow-y: auto;
}
.mp-player {
    display: flex;background-color: var(--color-fondo);
    border-top: 2px solid var(--acento-1);
    border-left: 2px solid var(--acento-1);
    border-bottom: 2px solid var(--acento2);
    border-right: 2px solid var(--acento2);
    height: 150px;
}
.mp-song {
    font-family: 'uwuntu', sans-serif;
    font-size: 15px;
    background-color: var(--acento);
    color: var(--color-fondo);
    border-top: 2px solid var(--acento-1);
    border-left: 2px solid var(--acento-1);
    border-bottom: 2px solid var(--acento2);
    border-right: 2px solid var(--acento2);
    padding: 8px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    line-height: 1;
    gap: 10px;
    box-sizing: border-box;
    top: 0;
    z-index: 1000;
}
.mp-song:hover {
    background-color: var(--acento-1);
    border: 2px solid var(--acento);
    color: var(--color-fondo-hover);
}
.list-cover {
    width: 60px;
    display: block;
    border-top: 2px solid var(--acento);
    border-left: 2px solid var(--acento);
    border-bottom: 2px solid var(--acento2);
    border-right: 2px solid var(--acento2);
}
.play-overlay {
    position: fixed;
    padding-left: 26px;
    padding-right: 19px;
    padding-top: 19px;
    padding-bottom: 19px;
    color: var(--color-fondo-hover);
    font-size: 24px;
    opacity: 0;
    
}
.play-overlay:hover {
    opacity: 1;
}
.np-cover {
    margin: 7px;
    border-top: 2px solid var(--acento-1);
    border-left: 2px solid var(--acento-1);
    border-bottom: 2px solid var(--acento2);
    border-right: 2px solid var(--acento2);
}
.pb-song {
    min-width: 250px;
    margin: 14px;
    font-family: 'uwuntu', sans-serif;
    color: var(--acento);
}
.pb-controls {
    display: flex;
}
.pb-controls i {
    font-size: 30px;
    color: var(--acento);
    border-top: 2px solid var(--acento-1);
    border-left: 2px solid var(--acento-1);
    border-bottom: 2px solid var(--acento2);
    border-right: 2px solid var(--acento2);
    margin-left: 0px;
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.pb-controls i:hover {
    color: var(--acento);
    background-color: var(--color-fondo-hover);
    border-top: 2px solid var(--acento-1);
    border-left: 2px solid var(--acento-1);
    border-bottom: 2px solid var(--acento-1);
    border-right: 2px solid var(--acento-1);
}
.texto-contenido {
    padding: 7px;
    font-family: 'uwuntu', sans-serif;
    background-color: var(--acento);
    color: var(--color-fondo2);
    border-top: 2px solid var(--acento2);
    border-left: 2px solid var(--acento2);
    border-bottom: 2px solid var(--acento-1);
    border-right: 2px solid var(--acento-1);
    overflow: auto;
    margin: 5px;
    width: 100%;
}
/* VIDEOS ----------------------------------------------------------------------------------------- */
.body-videos {
    margin-top: -60px;
    box-sizing: border-box;
    overflow: hidden;
}
.container-videos {
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.video-section {
    flex: 2;
    display: flex;
    flex-direction: column;
}
.video {
    /* tamaño del video */
    width: 70vw;
    height: 70vh;
    border-bottom: 2px solid var(--acento2);
    border-right: 2px solid var(--acento2);
}
.video-desc {
    flex-grow: 1;
    background-color: var(--acento);
    border-top: 2px solid var(--acento-1);
    border-bottom: 2px solid var(--acento2);
    border-right: 2px solid var(--acento2);
}
.texto-contenido-video {
    padding: 7px;
    font-family: 'uwuntu', sans-serif;
    background-color: var(--acento);
    color: var(--color-fondo2);
    border-top: 2px solid var(--acento2);
    border-left: 2px solid var(--acento2);
    border-bottom: 2px solid var(--acento-1);
    border-right: 2px solid var(--acento-1);
    overflow: auto;
    margin: 5px;
    height: 100%;
    max-height: 82%;
    max-width: 100%;
}
.video-playlist {
    flex: 1;
    background-color: var(--acento);
    border-top: 2px solid var(--acento-1);
    border-left: 2px solid var(--acento-1);
    border-bottom: 2px solid var(--acento2);
    border-right: 2px solid var(--acento2);
}
.list-cover {
    width: 50px;
    height: 50px;
}

.play-overlay {
    font-size: 18px;
    color: var(--acento-1);

}
.list-video {
    width: 60px;
    display: block;
    border-top: 2px solid var(--acento);
    border-left: 2px solid var(--acento);
    border-bottom: 2px solid var(--acento2);
    border-right: 2px solid var(--acento2);
}
