@font-face {
    font-family: 'uwuntu';
    src: url('assets/fonts/variable/Ubuntu-M.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'punk';
    src: url('assets/fonts/variable/Gothic-Punk.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --color-fondo: #333;
    --color-fondo2: #111;
    --color-fondo-hover: #444;
    --foreground-dark: #402773;
    --cover-border: #424242;
    --acento-1: #c29cf7;
    --acento: #a578e3;
    --acento2: #663aa8;
}
html, body {
    font-size: 16px;
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: var(--color-fondo);
    padding-top: 30px;
}