@import url('variables.css');

.taskbar {
    background-color: var(--lila);
    width: 100vw;
    height: 35px;
    display: flex;
    align-items: center;
    padding: 0 0px;
    box-sizing: border-box;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1000;
}
.taskbar-left, .taskbar-right {
    display: flex;
    align-items: center;
    margin: 0;
}
.taskbar-left {
    margin-right: 0; /* Eliminar margen derecho si es necesario */
}

.taskbar-right {
    margin-left: 0; /* Eliminar margen izquierdo si es necesario */
}

.taskbar-buttons {
    font-family: 'MiFuente', sans-serif;
    font-size: 15px;
    background-color: var(--lila);
    color: var(--foreground-dark);
    border: 2px solid var(--lila2);
    padding: 8px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    line-height: 1;
    gap: 10px;
    box-sizing: border-box;
}
.taskbar-buttons:hover {
    background-color: #7d4fbd;
    color: #402773;
    border: 2px solid #583291;
}
.taskbar-menu {
    display: none;
    position: absolute;
    top: 35px;
    font-family: 'MiFuente', sans-serif;
    font-size: 15px;
    background-color: var(--lila);
    color: var(--foreground-dark);
    border: 2px solid var(--lila2);
    z-index: 1000;
    min-width: 200px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
}
.menus {
    font-family: 'MiFuente', sans-serif;
    font-size: 15px;
    background-color: var(--lila);
    color: var(--foreground-dark);
    border: 2px solid var(--lila2);
    padding: 8px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    line-height: 1;
    gap: 10px;
    box-sizing: border-box;
    width: 100%;
}
.menus:hover {
    background-color: #7d4fbd;
    color: #402773;
    border: 2px solid #583291;
}