iframe {
    width: 100%;
    height: 400px;
    border: none;
    resize: both;
    overflow: auto;
    box-sizing: border-box;
}
.window {
    position: fixed;
    border-top: 2px solid var(--lila);
    border-right: 2px solid var(--lila2);
    border-left: 2px solid var(--lila);
    border-bottom: none;
    background: var(--color-fondo);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    overflow: hidden;
    min-width: 200px;
    min-height: 150px;
    box-sizing: border-box;
    bottom: 17px;
    top: 52px;
    left: 17px;
    right: 17px;
}

.window-header {
    display: flex;
    background: var(--color-fondo);
    color: var(--lila);
    margin-right: -2px;
    padding: 0 2px;
    cursor: move;
    user-select: none;
    justify-content: space-between;
}

.window-decorations {
}

.decoration-button {
    background-color: var(--color-fondo);
    color: var(--lila);
    border: none;
    border-top: 2px solid var(--lila);
    border-left: 2px solid var(--lila);
    border-bottom: 2px solid var(--lila2);
    border-right: 2px solid var(--lila2);
}
.decoration-button:hover {
    background-color: var(--color-fondo-hover);
    color: var(--lila-1);
    border-top: 2px solid var(--lila-1);
    border-left: 2px solid var(--lila-1);
    border-bottom: 2px solid var(--lila-1);
    border-right: 2px solid var(--lila-1);

}

.window-content {
    height: calc(100% - 40px);
    background-color: var(--lila);
}

.resizer {
    width: 100%;
    height: 3px;
    background: var(--lila2);
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: se-resize;
}